.search-results {
    padding: 20px 170px;
}

.search-results h1 {
    margin-bottom: 20px;
    color: #3d3d3d;
    font-size: 30px;
    font-weight: 650;
}

.search-results-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Change to 3 columns */
    gap: 40px;
}

.search-result-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 20px;
    background: #fbfbfb;
}

.search-result-item img {
    width: 100%;
    height: auto;
}

.search-result-item h2 {
    color: #3d3d3d;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
}

.search-result-item .prices {
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-weight: 700;
    margin: 15px 0;
}

.search-result-item .prices-old {
    color: #818181;
    text-decoration: line-through;
}

.search-result-item .prices-new {
    color: #ff4141;
}

.search-result-item .sizes {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.search-result-item .sizes div {
    padding: 10px 20px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.search-result-item button {
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
